{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% from "macros/render_field.html" import render_field %}
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.name) }}
            {{ render_field(form.birthday) }}
        </dl>

        <input type="submit" value="{{ 'Submit' }}" class="btn">
    </form>

    <div class="posts">
        {% for item in posts %}
            <div class="post">
                <h4 class="post-title">
                    Username:{{ item.username }}
                </h4>

                <div class="post-text">
                    Name: {{ item.name }}<br>
                    Birthday: {{ item.birthday }} <br>
                    Age:{{ item.age }}
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}