{% extends 'base.html' %}

{% block content %}

<div class="content">
    {% from "macros/render_field.html" import render_field %}
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        <dl>
            {% for field in form %}
                {% if field.id != 'csrf_token' %}
                    {{ render_field(field) }}
                {% endif %}
            {% endfor %}
        </dl>

        <input type="submit" value="{{ 'Publish' }}" class="btn">
    </form>

    <div class="posts">
        {% for item in posts %}
            <div class="post">
                <h3 class="post-title">
                    Title: {{ item.title }}
                </h3>
                <div class="post-text">
                    Price: {{ item.price }}
                </div>

            </div> <br>

        {% endfor %}
    </div>

</div>

{% endblock %}