.chart {
    align-content: center;
    /*background-color: #333;*/
    background-color: blanchedalmond;
    height: 60%;
    min-height: 300px;
    padding: 20px 0px;
}

body {
    background-color: mintcream;
}